* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

.nav__overlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

/* mobile nav */
.nav__bars-btn{
    display: none;
    margin-left: 8px;
    width: 28px;
    height: 100%;
    color: #fff;
    display: none;
}

.nav__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background-color: #fff;
    max-width: 100%;
    transform: translateX(-100%);
    transition: all linear 0.2s;
    opacity: 0;
}

.nav__mobile-list{
    margin-top: 24px;
    list-style: none;

}

.nav__mobile-link{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4em;

}

.nav__mobile-close{
    font-size: 1.4rem;
    position: absolute;
    color: #666;
    top: 16px;
    right: 16px;
   
}

.nav__input{
    display: none;
}

.nav__input:checked ~ .nav__overlay{
    display: block;
}

.nav__input:checked ~ .nav__mobile{
    transform: translateX(0) ;
    opacity: 1;
}
@media (max-width: 63.9375em) {
    .nav__bars-btn{
        display: block;
        
        font-size: 28px;
        line-height: 48px;

    }
    .nav__pc{
        display: none;
    }

}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}