.grid{
    display: grid;
    max-width: 100%;
    padding: 0;
}

.col-12{
    grid-template-columns: repeat(12, 1fr);
}

.grid.wide{
    width: 1200px;
    margin: 0 auto;
}

.padding-10{
    padding: 10px;
}

.col-gap-10{
    column-gap: 10px;
}

.gap-10{
    gap: 10px;

}

/* cell phone */


@media(max-width: 739px){
    .grid.wide{
        width: 100%;
    }

    .c-0{
        display: none;
    }

    .c-1{
        grid-template-columns: repeat(12, minmax(0, 1fr));
        
    }
    
    .c-2{
        grid-template-columns:repeat(6, minmax(0, 2fr));
    }
    
    .c-2_4{
        grid-template-columns: repeat(5, minmax(0, 20%));
        
    }
    
    .c-3{
        grid-template-columns: repeat(4, minmax(0, 3fr));
    }
    
    .c-3-9{
        grid-column: span 3;
    }
    
    .c-4{
        grid-template-columns: repeat(3, minmax(0, 4fr));
    }
    
    .c-4-8{
        grid-column: span 4;
    }

    
    .c-5-7{
        grid-column: span 5;
    }
    
    .c-6{
        grid-template-columns: repeat(2, minmax(0, 6fr));
    }
    
    .c-7-5{
        grid-column: span 7;
    }
    
    .c-8-4{
        grid-column: span 8;
    }
    
    .c-9-3{
        grid-column: span 9;
    }
    
    .c-10-2{
        grid-column: span 10;
    }
    
    .c-11-1{
        grid-column: span 11;
    }
    
    .c-12{
        grid-template-columns: repeat(1, minmax(0, 12fr));
    }
}

/* Tablet */
@media (min-width: 740px){
    
    .m-1{
        grid-template-columns: repeat(12, minmax(0, 1fr));
        
    }
    
    .m-2{
        grid-template-columns:repeat(6, minmax(0, 2fr));
    }
    
    .m-2_4{
        grid-template-columns: repeat(5, minmax(0, 20%));
        
    }
    
    .m-3{
        grid-template-columns: repeat(4, minmax(0, 3fr));
    }
    
    .m-3-9{
        grid-column: span 3;
    }
    
    .m-4{
        grid-template-columns: repeat(3, minmax(0, 4fr));
    }
    
    .m-4-8{
        grid-column: span 4;
    }
    
    .m-5-7{
        grid-column: span 5;
    }
    
    .m-6{
        grid-template-columns: repeat(2, minmax(0, 6fr));
    }
    
    .m-7-5{
        grid-column: span 7;
    }
    
    .m-8-4{
        grid-column: span 8;
    }
    
    .m-9-3{
        grid-column: span 9;
    }
    
    .m-10-2{
        grid-column: span 10;
    }
    
    .m-11-1{
        grid-column: span 11;
    }
    
    .m-12{
        grid-template-columns: repeat(1, minmax(0, 12fr));
    }

}

/* pc & laptop */

@media (min-width: 1113px) {
    .l-0{
        display: none;
    }

    .l-1{
        grid-template-columns: repeat(12, minmax(0, 1fr));
        
    }
    
    .l-2{
        grid-template-columns:repeat(6, minmax(0, 2fr));
    }
    
    .l-2_4{
        grid-template-columns: repeat(5, minmax(0, 20%));
        
    }
    
    .l-3{
        grid-template-columns: repeat(4, minmax(0, 3fr));
    }
    
    .l-3-9{
        grid-column: span 3;
    }
    
    .l-4{
        grid-template-columns: repeat(3, minmax(0, 4fr));
    }
    
    .l-4-8{
        grid-column: span 4;
    }
    
    .l-5-7{
        grid-column: span 5;
    }
    
    .l-6{
        grid-template-columns: repeat(2, minmax(0, 6fr));
    }
    
    .l-7-5{
        grid-column: span 7;
    }
    
    .l-8-4{
        grid-column: span 8;
    }
    
    .l-9-3{
        grid-column: span 9;
    }
    
    .l-10-2{
        grid-column: span 10;
    }
    
    .l-11-1{
        grid-column: span 11;
    }
    
    .l-12{
        grid-template-columns: repeat(1, minmax(0, 12fr));
    }

}


@media(min-width:740px) and (max-width:1112px){
    .m-0{
        display: none;
    }
}



